body, html {
	padding: 0;
	margin: 0;
	font-family: "Open Sans", sans-serif;
	
	color: #111;
}
p, li, code, figcaption, table {
	line-height: 200%;
	font-size: 19px;
}
main {
	background: #f3f3f3;
}

a {
	text-decoration: none;
	color: #0275d8;				
}
a:hover {
	color: #025aa5;
	text-decoration: underline;
}


#splash {
	position: relative;
	height: 340px;
	width: 100%;
	overflow: hidden;				
	

}
#splash.move-down {
	height: 280px;
}
#splash.move-down h1, #splash.move-down .splash-title {
	margin-top: 30px;
}
#splash.move-text-up h1, #splash.move-text-up .splash-title {
	margin-top: 80px;
}



#splash.parallax .bg {
	position: fixed;
}

#splash.parallax.move-down .bg {
	top: 0px;
	height: 340px;
}
#splash .bg {
	position: absolute;
	top: 0;
	left: 0;	
	width: 100%;
	height: 340px;
	background-image: url("../../public/images/splash.jpg");
	background-size: cover;	
	background-position: right 0 bottom -100px;			
	z-index: -200;	
}

#splash #splash-sticky-bg.sticky {
	z-index: 100;
	height: 60px;	
	background-position: right 0 bottom -380px;			
}

@media(max-width: 1600px) {
	#splash .bg:not(.sticky) {
		background-size: auto 150%;
	}
	#splash #splash-sticky-bg.sticky {
		background-position: bottom;		
	}

}


#splash.only-background {
	height: 60px;
}

#splash.bg.faded {
	opacity: 0.35;
}

#splash .unsplash {
	position: absolute;
	bottom: 10px;
	right: 10px;
	color: #555;
	font-size: 12px;
}
#splash .unsplash a {
	color: #666;
}
#splash .unsplash a:hover {
	color: #ddd;
}

#splash h1, #splash h2, #splash h3 {
	color: white;
	font-size: 100px;
	z-index: 10;
	width: 100%;
	margin: 0 auto;
	position: relative;
}
#splash.black-text h1, #splash.black-text h2, #splash.black-text h3 {
	color: #222;	
}
#splash.black-text h1:after, #splash.black-text h2:after {
	opacity: 0.2;
	left: 1px;
	top: 1px;
}
#splash h1, #splash .splash-title {
	margin-top: 120px;
	margin-left: -5px;
	font-size: 100px;
}
#splash h2, #splash h3 {
	font-size: 30px;
	margin-top: -10px;
}
#splash h1:after, #splash h2:after, #splash h3:after {
	position: absolute;
	top: 3px;
	left: 3px;
	content: attr(data-title);
	color: #000;
	width: 100%;
	z-index: -1;
	opacity: 0.7;
}
#splash h2:not(.splash-title):after, #splash h3:after {
	top: 2px;
	left: 2px;
}

.wide-container {
	width: 100%;
	padding: 0 200px;
	margin: 0 auto;
}

.container {
	width: 1280px;
	max-width: 100%;
	margin: 0 auto;

}
@media(max-width: 1280px) {
	.container {
		width: 992px;
	}
}




.links .link {
	display: inline-block;
	width: 31.5%;
	height: 350px;
	position: relative;
	margin-right: 1.4%;
	margin-bottom: 0.4%;
	font-size: 0.7em;
	overflow: hidden;
	border: 1px solid #ccc;


}
.links .link h2 {

}
.links .link .content {
	color: white;
	position: absolute;
	bottom: 0px;			
	
	left: 0;	
	padding: 0 30px;
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0.75);
	line-height: 150%;
	

	
}
.links .link .content p {
	overflow: hidden;
	height: 0;
	margin-bottom: 0;

}
.links .link .bg {

	background-size: cover;
	height: 100%;
	-moz-transition: transform 0.2s ease;
	-webkit-transition: transform 0.2s ease;
	transition: transform 0.2s ease;
	image-rendering: -webkit-optimize-contrast;

}
.links .link:hover .bg {
	transform: scale(1.05);
}
.links .link:hover .content p {
	height: auto;
	margin-bottom: 15px;
	
}
.links .learn-more {
	text-decoration: underline;
}

footer .footer-title {
	color: #777;
	margin-bottom: -10px;
	font-size: 17px;
	
}

footer {
	text-shadow: 1px 1px 2px #111;
	background: #222;
	box-shadow: 0 50px 0px 50px #222;
	padding: 5px 0;
	color: white;
}
footer p {
	font-size: 17px;
}
footer a, footer a:hover {
	color: white;
}
footer .footer-links {
	float: left;
}
footer .footer-copyright {
	color: #777;
	float: right;
}
.pad {
	margin: 40px 0;
}





ul.tools-list {
	list-style: none;
	padding: 0 20px;
	margin: 40px 0;

}
ul.tools-list li {
	padding: 0px;
	border: 1px solid #ddd;
	display: table;
	margin: 0;
	margin-bottom: 40px;
	width: 100%;
	overflow: hidden;
}
ul.tools-list li .thumbnail {
	width: 360px;
	height: 200px;
	display: table-cell;
	overflow: hidden;
	border-right: 1px solid #ddd;
	position: relative;
}
ul.tools-list li .thumbnail a {
	background-size: cover;
	height: 100%;
	-moz-transition: transform 0.2s ease;
	-webkit-transition: transform 0.2s ease;
	transition: transform 0.2s ease;
	image-rendering: -webkit-optimize-contrast;			
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	
	
}

ul.tools-list li .thumbnail a:hover {
	transform: scale(1.05);
}



ul.tools-list li .content {
	width: auto;
	padding: 20px 40px;
	display: table-cell;
	box-sizing: border-box;
	vertical-align: top;
	background: #fbfbfb;
}
ul.tools-list li .content a {

	position: relative;
}





hr {
	border: 0;
	border-bottom: 1px solid #ccc;
	margin: 0;
}


section#intro-section {
	margin-bottom: 40px;	
	text-align: justify;

}
section.grey-block {
	background: #e6e6e6;
	padding: 30px 0;
	box-sizing: border-box;
				
}
#intro-section p {
	margin: 0;
}
ul li.tool-wip .thumbnail a {
	pointer-events: none;
}
ul li.tool-wip .content a {
	text-decoration: none !important;
	color: #222 !important;
	pointer-events: none;
}







nav#navbar {
	height: 60px;				
	display: table;
	width: 100%;

	color: white;
	top: 0;
	left: 0;
	z-index: 10000;
}
#navbar .bg {
	/*background-image: url("../public/images/nav.jpg");*/
	background: #2a2a2a;
	background-size: cover;
	height: 60px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -5;

}
#navbar a {
	color: #efefef;

}
#navbar a:hover {
	text-decoration: none;
	color: white;
}
#navbar h2 {
	font-size: 30px;
	padding: 0;
	margin: 0;
	vertical-align: middle;
	display: table-cell;
	padding: 8px 10px;
}
#navbar .right {
	display: table-cell;
	width: auto;
}



.merriweather {
	font-family: "Merriweather", serif;
}