h1, h2.big-heading {
	font-size: 3em;
	margin-bottom: 0;
	margin-top: 0;

}
h1.big-heading, h2.big-heading {
	padding: 30px 0;
}
main#tool-page .tool-table {
	display: table;
	min-height: 85vh;
}
/*
section#tool-description {
	padding: 20px 80px;
	width: 65%;
	display: table-cell;
	padding-left: 200px;				
}
*/
#tool-page hr {
	margin-bottom: 20px;
}

section#tool-screenshots {
	padding: 20px 80px;
	
	background: #2a2a2a;
	color: white;

	/*
	width: 35%;
	display: table-cell;
	padding-right: 200px;
	*/
}



section#tool-screenshots hr {
	border: 0;
	border-top: 1px solid #444;
}
section#live-demo {
	background: white;
	padding: 20px 200px;
}


.screenshot-gallery figure {
	padding: 0;
	margin: 0;
	margin-top: 30px;
	width: 50%;
	display: inline-block;
	vertical-align: top;
	
	box-sizing: border-box;
}
.screenshot-gallery figcaption {
	padding: 15px 0;
	color: #eee;
	margin-bottom: 20px;
	font-size: 16px;
	line-height: 150%;
	display: block;
	text-align: center;
}
.screenshot-gallery .main-screenshot .screenshot {
	width: 100%;
	height: 320px;
	background-size: cover;
	background-position: center;
	image-rendering: -webkit-optimize-contrast;	
}
.screenshot-gallery .main-screenshot:nth-child(odd) {
	padding-right: 15px;
}
.screenshot-gallery .main-screenshot:nth-child(even) {
	padding-left: 15px;
}
.screenshot-gallery ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.screenshot-gallery .other-screenshots .screenshot {
	display: inline-block;
	width: 48%;
	margin-right: 2%;
	height: 150px;
	background-size: cover;
	background-position: center;
	image-rendering: -webkit-optimize-contrast;
	margin-bottom: 2%;
	box-sizing: border-box;
	border: 2px solid #2a2a2a;
	cursor: pointer;	
}
.screenshot-gallery .other-screenshots .screenshot:hover {
	border: 2px solid #0275d8;

}
.screenshot-gallery .other-screenshots .screenshot:nth-child(even) {
	margin-right: 0;
}
.wide-container {
	width: 1600px;
	margin: 0 auto;
}

#tool-description h2:not(.big-heading), #tool-description h3 {
	padding: 30px 0 10px 0;
}
section {
	padding-bottom: 40px;
	padding-top: 40px;
}


.pad-hor {
	padding: 0 40px;
	padding-right: 0;
}


nav#subpage-nav ul.nav li.nav-download {
	float: right;
	
	
	box-sizing: border-box;
}
nav#subpage-nav ul.nav li.nav-download a {
	height: 52px;
	line-height: 48px;
	margin-top: 4px;
	box-sizing: border-box;
	border: 2px solid white;
	border-radius: 6px;
	padding: 0 16px;
	box-shadow: inset 1px 1px rgba(0, 0, 0, 0.9);
}
nav#subpage-nav ul.nav li.nav-download a:hover {
	box-shadow: none;
}


nav#subpage-nav.sticky {
	position: fixed;
	top: 0;
}
nav#subpage-nav.sticky .logo {
	opacity: 1;
	pointer-events: auto;
}
nav#subpage-nav .logo {
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.2s ease;
	position: absolute;
	top: 0;
	left: 20px;
	font-size: 24px;
	color: white;
	height: 100%;

}
nav#subpage-nav .logo a {
	color: white;
	text-decoration: none;
}

nav#subpage-nav .logo h3 {
	margin: 0;
	padding: 0;
	line-height: 60px;
}

nav#subpage-nav {
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
	z-index: 10000;
	position: absolute;
	height: 60px;
	top: 280px;
	left: 0;
	width: 100%;
	background: linear-gradient(rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.24));
	background-blend-mode: multiply;
}
nav#subpage-nav ul.nav {
	padding: 0;
	list-style: none;
	width: 100%;
	height: 100%;
	margin: 0;
	height: 60px;
	/*margin-left: -25px;*/
}

nav#subpage-nav ul.nav li {
	display: inline-block;
	height: 100%;
	position: relative;
}

nav#subpage-nav ul.nav li a {
	color: #f2f2f2;
	display: block;
	height: 60px;
	vertical-align: middle;
	line-height: 60px;
	padding: 0 27px;
	font-weight: bold;
	transition: background 0.2s ease;
	background: rgba(255, 255, 255, 0);
	background-blend-mode: screen;
	

}

nav#subpage-nav ul.nav li.current a {
	background: linear-gradient(rgba(255, 225, 225, 0.18), rgba(255, 225, 225, 0.12));
}
nav#subpage-nav ul.nav li a:hover {
	text-decoration: none;
	color: white;
	background: linear-gradient(rgba(255, 225, 225, 0.24), rgba(255, 225, 225, 0.18));
}

nav#subpage-nav ul.nav li a:active, nav#subpage-nav ul.nav li a:focus {

	background: rgba(255, 225, 225, 0.38);
}




nav#subpage-nav ul.nav li:not(:last-child):not(.no-right-line):after {
	position: absolute;
	right: 0;
	top: 20%;
	height: 60%;
	border-right: 1px solid rgba(255, 255, 255, 0.2);
	content: " ";
}

nav#subpage-nav ul.nav li:nth-child(odd):not(:last-child):after {
	right: -1px;
}


figure {
	margin: 60px 0 40px 0;
}
figure img {
	border: 1px dotted #bbb;
	width: 100%;
	image-rendering: -webkit-optimize-contrast;
}
figure figcaption {
	margin-top: 10px;
	text-align: center;
}



section#tool-description.documentation-section h2, section#tool-description.documentation-section h3, section#tool-description.documentation-section h4 {
	padding-top: 80px; 
	margin-top: -60px;
}

section.documentation-section {
        counter-reset: h2counter;
    }
section.documentation-section h1 {
    counter-reset: h2counter;
}
section.documentation-section h2:before {
    content: counter(h2counter) ".\0000a0\0000a0";
    counter-increment: h2counter;
    counter-reset: h3counter;
    float:left;
    width: 40px;
}
section.documentation-section h3:before {
    content: counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
    counter-increment: h3counter;
    float:left;
    width: 40px;
}





img.redcoat-icon {
	width: 120px;
	stroke: white;
	float: left;
	display: inline-block;
}



nav#sidenav {
	position: fixed;
	top: 163px;
	left: 80px;
	width: 320px; 

	counter-reset: snlicounter;
}
nav#sidenav ul {
	list-style: none;
	padding: 0;

}
nav#sidenav ul li {
	line-height: 150%;
	
}
nav#sidenav ul li a {
	padding: 6px 0;
	display: block;
}


nav#sidenav > ul > li:first-child {
	counter-reset: snlicounter;

}

nav#sidenav ul li:before {
    content: counter(snlicounter) ".\0000a0\0000a0";
    counter-increment: snlicounter;
    counter-reset: snli2counter;
    float:left;
    width: 40px;
    margin-top: 6px;	
    font-size: 0.8em;
    font-weight: bold;
    color: #333;
}

nav#sidenav ul li ul {
	padding-left: 40px;
}

nav#sidenav ul li ul li:before {
    content: counter(snlicounter) "." counter(snli2counter) ".\0000a0\0000a0";
    counter-increment: snli2counter;
    float:left;
    width: 40px;
}
